BOT_TOKEN=123456:local-example-telegram-token
BOT_WEBHOOK_SECRET=local-example-telegram-webhook-secret
HHHL_TOKEN=local-example-hhhl-token
ALLOWED_TELEGRAM_USER_ID=123456789
HHHL_ORIGIN=https://dc.hhhl.cc
INITIAL_HISTORY_LIMIT=30
RECONNECT_BASE_DELAY_MS=1000
RECONNECT_MAX_DELAY_MS=60000
KV_KEY_PREFIX=xbot
